{% ckan_extends %}

{% block package_item %}
<div class="bg-white p-24">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-blue-sapphire fs-22 fw-bold m-0 leading-tight">
        {% if package.private %}
          <i class="bi bi-lock-fill" aria-label="{{ _('Private') }}"></i>
        {% endif %}
        {{ h.link_to(h.truncate(title, truncate_title), h.url_for('%s.read' % package.type, id=package.name), class='text-decoration-none') }}
        {% if package.get('state', '').startswith('draft') %}
          <span class="badge">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="badge">{{ _('Deleted') }}</span>
        {% endif %}
      </h2>
    </div>
    {% if package.resources and not hide_resources %}
      <div class="col-md-4">
        <ul class="list-inline d-flex align-items-center justify-content-end">
          {% for resource in h.dict_list_reduce(package.resources, 'format') %}
            <li class="py-5 text-white">
              <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="text-decoration-none bg-sinopia py-4 px-8 fs-14" data-format="{{ resource.lower() }}">
                <span>{{ resource }}</span>
              </a>
            </li>
          {% endfor %}
          </ul>
      </div>
    {% endif %}
  </div>
  <div class="mt-16">
    <p class="fw-bold fs-18 text-sinopia">
      <em>{{ package.author }}</em>
    </p>
    <div class="row">
      <div class="col-md-9">
        <p class="text-jungle-green">
          {% if notes %}
            {{ notes|urlize }}
          {% else %}
            {{ _("This dataset has no description") }}
          {% endif %}
        </p>
      </div>
    </div>
    <p class="text-jungle-green mt-4 mb-0">
      <em>
        Última actualización:
        <span class="fw-bold">{{ h.render_datetime(package.metadata_modified, date_format="%d de %B de %Y", with_hours=False, with_seconds=False) }}</span>
      </em>
    </p>
  </div>
</div>
{% endblock %}