{% ckan_extends %}

{% block package_item %}
<a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" class="pdae-package-item">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-blue-sapphire fs-22 fw-bold m-0 leading-tight">
        {% if package.private %}
          <i class="bi bi-lock-fill" aria-label="{{ _('Private') }}"></i>
        {% endif %}
        <span>{{ h.truncate(title, truncate_title) }}</span>
        {% if package.get('state', '').startswith('draft') %}
          <span class="badge">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="badge">{{ _('Deleted') }}</span>
        {% endif %}
      </h2>
    </div>
    {% if package.resources and not hide_resources %}
      <div class="col-md-4 mt-16 md:text-end md:mt-0">
        <p class="pdae-formats-label">Formatos disponibles</p>
        <ul class="list-unstyled">
          {% for resource in h.dict_list_reduce(package.resources, 'format') %}
            <li class="d-inline-block ">
              <span class="pdae-tag">{{ resource }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="mt-20">
    <p class="fw-bold fs-18 text-sinopia">
      <em>{{ package.author }}</em>
    </p>
    <div class="row">
      <div class="col-md-9">
        <p class="text-jungle-green">
          {% if notes %}
            {{ notes|urlize }}
          {% else %}
            {{ _("This dataset has no description") }}
          {% endif %}
        </p>
      </div>
    </div>
    <p class="text-jungle-green mt-16 mb-0">
      <em>
        Última actualización:
        <span class="fw-bold">{{ h.pdae_theme_render_datetime(package.metadata_modified) }}</span>
      </em>
    </p>
  </div>
</a>
{% endblock %}