{% set stats = h.get_site_statistics() %}
{% set dataset_count = stats.dataset_count %}
{% set organization_count = stats.organization_count %}

<section class="bg-cultured py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-flex flex-column align-items-center">
          <div class="row">
            <div class="col-6 offset-3">
              <img class="img-fluid" src="/images/datos-abiertos.png" alt="">
            </div>
          </div>
          <h1 class="text-blue-sapphire fs-1 fw-bold text-center">
            {{ title }}
          </h1>
          <p class="text-blue-sapphire fs-5 mt-4">
            Explora más de <span class="fw-bold">{{ dataset_count }} conjuntos de datos</span> de más de <span class="fw-bold">{{ organization_count }} instituciones</span>.
          </p>
          <div class="col-lg-5 mt-4">
            {% snippet "snippets/pdae_theme_dataset_search.html", query=query %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>