{% ckan_extends %}

{% block primary_content %}
<div class="bg-white p-20">
  <div class="row">
    <div class="col-md-9">
      {% if pkg.tags %}
        {% snippet "package/snippets/pdae_theme_tags.html", tags=pkg.tags %}
      {% endif %}
    </div>
    <div class="col-md-3">
      <div class="mt-16 md:mt-0">
        {% snippet "package/snippets/pdae_theme_social_share.html" %}
      </div>
    </div>
  </div>
  <div class="row mt-16">
    <div class="col-md-10">
      <h1 class="fs-35 text-blue-sapphire fw-bold leading-tight">
        {{ h.dataset_display_name(pkg) }}
      </h1>
      {% if pkg.organization %}
        <p class="fw-bold fs-22 text-sinopia">
          <em>{{ pkg.organization.title }}</em>
        </p>
      {% endif %}
      {% set formats = h.dict_list_reduce(pkg.resources, 'format') %}
      {% if formats %}
        <p class="pdae-formats-label mt-16">Formatos disponibles</p>
        <ul class="list-unstyled">
          {% for format in formats %}
            <li class="d-inline-block ">
              <span class="pdae-tag">{{ format }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if pkg.notes %}
        <div class="text-jungle-green fs-md mt-16 leading-normal">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% else %}
        <p class="text-jungle-green fs-md mt-4 mb-0">
          Este conjunto de datos no tiene una descripción
        </p>
      {% endif %}
    </div>
  </div>
  <div class="mt-4">
    <a href="{{ h.url_for(pkg.type ~ '.groups', id=pkg.id if is_activity_archive else pkg.name) }}" class="btn btn-sinopia">
      Ver grupos
    </a>
  </div>
  <div class="mt-4">
    {% block package_resources %}
      {% snippet "package/snippets/pdae_theme_resources_list.html", pkg=pkg, resources=pkg.resources, is_activity_archive=is_activity_archive %}
    {% endblock %}
  </div>
  <div class="mt-4">
    <h3 class="text-blue-sapphire fw-bold fs-5">
      Nivel de apertura de datos <span class="badge bg-transparent" title="El nivel de apertura de datos se refiere a..."><i class="bi bi-info-circle text-blue-sapphire"></i></span>
    </h3>
    <p>
      <i class="bi bi-star-fill text-yellow-star"></i>
      <i class="bi bi-star-fill text-yellow-star"></i>
      <i class="bi bi-star-fill text-yellow-star"></i>
      <i class="bi bi-star text-yellow-star"></i>
      <i class="bi bi-star text-yellow-star"></i>
    </p>
  </div>
  <div class="mt-20">
    <a href="/info/reportar" class="btn btn-sinopia" target="_blank">
      <i class="bi bi-exclamation-triangle"></i>
      <span class="ms-2">Reportar datos</span>
    </a>
  </div>
</div>
{% endblock %}
