{% extends "package/read_base.html" %}

{% set res = resource %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(h.get_translated(res, 'description'), extract_length=200) if res.description else h.markdown_extract(h.get_translated(package, 'notes'), extract_length=200) %}
  <meta property="og:title" content="{{ h.dataset_display_name(package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block subtitle %}{{ h.dataset_display_name(package) }} {{ g.template_title_delimiter }} {{ h.resource_display_name(res) }}{% endblock %}

{% block back_to_url %}
  {{ h.url_for(package.type ~ '.read', id=package.name) }}
{% endblock %}

{% block back_to_text %}
Volver al conjunto de datos
{% endblock %}

{% block manage_url %}
  {{ h.url_for('%s_resource.edit' % package.type, id=package.name, resource_id=res.id) }}
{% endblock %}

{% block primary_content %}
<div class="bg-white p-20">
  {% if is_activity_archive %}
    <div class="alert alert-danger">
      {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
        You're currently viewing an old version of this dataset. Data files may not match the old version of the metadata. <a href="{{ url }}">View the current version</a>.
      {% endtrans %}
    </div>
  {% endif %}
  <div class="row{% if is_activity_archive %} mt-20{% endif %}">
    <div class="col-md-9">
      <p class="text-blue-sapphire mb-0 fs-22"><em>Archivo</em></p>
    </div>
    <div class="col-md-3">
      <div class="mt-16 md:mt-0">
        {% snippet "package/snippets/pdae_theme_social_share.html" %}
      </div>
    </div>
  </div>
  <div class="row mt-16">
    <div class="col-md-10">
      <h1 class="fs-35 text-blue-sapphire fw-bold leading-tight mt-0" title="{{ h.resource_display_name(res) }}">
        {{ h.resource_display_name(res) }}
      </h1>
      {% if package.organization %}
        <p class="fw-bold fs-22 text-sinopia">
          <em>{{ package.organization.title }}</em>
        </p>
      {% endif %}
      {% if pkg.notes %}
        <div class="text-jungle-green fs-md mt-16 leading-normal">
          {% if res.description %}
            {{ h.render_markdown(res.description) }}
          {% endif %}
        </div>
      {% else %}
        <p class="text-jungle-green fs-md mt-4 mb-0">
          Este recurso no tiene una descripción
        </p>
      {% endif %}
      <div class="mt-20">
        <!-- {% set origin_url = c.site_url %}
        {% set resource_url = h.url_for('%s_resource.read' % package.type, id=package.name, resource_id=res.id) %}
        {% set data_url = resource.url %}
        {% if ('format' in res) and ('csv' == res.format | lower ) %}
          <a href="/visualiza/?lang=es&data={{ data_url }}&resource={{ resource_url }}&origin={{ origin_url }}" class="btn btn-sinopia">
            Visualizar datos
          </a>
        {% endif %} -->
        <a href="{{ res.url }}" class="btn btn-sinopia">
          {% if res.resource_type in ('listing', 'service') %}
            {{ _('View') }} <i class="bi bi-eye"></i>
          {% elif res.resource_type == 'api' %}
            {{ _('API Endpoint') }} <i class="bi bi-key"></i>
          {% elif not res.has_views and not res.url_type == 'upload' %}
            {{ _('Go to resource') }} <i class="bi bi-link-45deg"></i>
          {% else %}
            {{ _('Download') }} <i class="bi bi-download"></i>
          {% endif %}
        </a>
      </div>
      <div class="mt-4">
        <h3 class="text-blue-sapphire fw-bold fs-22">Formato</h3>
        <span class="pdae-tag">{{res.format or 'data'}}</span>
      </div>
      <div class="mt-4">
        <h3 class="text-blue-sapphire fw-bold fs-22">Fecha de actualización</h3>
        <p class="text-jungle-green fs-18">
          {{ h.pdae_theme_render_datetime(res.metadata_modified) }}
        </p>
      </div>
      <div class="mt-4">
        <h3 class="text-blue-sapphire fw-bold fs-22">Fecha de creación</h3>
        <p class="text-jungle-green fs-18">
          {{ h.pdae_theme_render_datetime(res.created) }}
        </p>
      </div>
      <!-- <div class="mt-4">
        <h3 class="text-blue-sapphire fw-bold fs-22">Vista previa</h3>
      </div> -->
      <div class="mt-20">
        <a href="/info/reportar" class="btn btn-sinopia" target="_blank">
          <i class="bi bi-exclamation-triangle"></i>
          <span class="ms-2">Reportar recurso</span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block secondary_content %}
  {% snippet "package/snippets/pdae_theme_dataset_metadata.html", title="Metadatos del conjunto de datos", pkg=package %}
{% endblock %}