{% ckan_extends %}

{% set stats = h.get_site_statistics() %}
{% set dataset_count = stats.dataset_count %}
{% set organization_count = stats.organization_count %}

{% set _facets = {
  'fields': fields_grouped,
  'search': search_facets,
  'titles': facet_titles,
  'translated_fields': translated_fields,
  'remove_field': remove_field }
%}
{% set sorting = [
  (_('Relevance'), 'score desc, metadata_modified desc'),
  (_('Name Ascending'), 'title_string asc'),
  (_('Name Descending'), 'title_string desc'),
  (_('Last Modified'), 'metadata_modified desc'),
  (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
%}

{% block content %}
<main id="content">
  {% snippet "snippets/pdae_theme_notification.html" %}
  {% snippet "snippets/pdae_theme_header_search.html", title="Catálogo de Datos Abiertos", query=q %}
  <section class="bg-cultured pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h2 class="fs-5 fw-bold text-blue-sapphire mb-4">Filtros</h2>
          <div class="accordion accordion-flush" id="accordion-filters">
            {% for facet in facet_titles %}
              {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets, hide_empty=true) }}
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-8">
              <h2 class="fs-5 fw-bold text-blue-sapphire mb-4">Búsqueda</h2>
              <p class="text-blue-sapphire fs-5">
                {% snippet 'snippets/search_result_text.html', query=q, count=page.item_count, type=dataset_type %}
              </p>
            </div>
            <div class="col-lg-4">
              <h2 class="fs-5 fw-bold text-blue-sapphire mb-4">
                <label for="order-by">Ordenar por</label>
              </h2>
              <form method="get" data-module="select-switch">
                <select name="sort" id="order-by" class="form-select fs-md" aria-label="Ordenar resultados">
                  {% for label, value in sorting %}
                    {% if label and value %}
                      <option value="{{ value }}"{% if sort_by_selected == value %}selected{% endif %}>{{ label }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </form>
            </div>
          </div>
          <div class="py-4">
            {% if h.check_access('package_create') %}
              <div class="text-end mb-4">
                <a href="{{ h.url_for('%s.new' % dataset_type) }}" class="button button-sm button-sinopia fw-bold">
                  <i class="bi bi-plus"></i>
                  {{ _('Add ' + dataset_type.title()) }}
                </a>
              </div>
            {% endif %}
            <div class="d-grid gap-4">
              {% block package_search_results_list %}
                {{ super() }}
              {% endblock %}
            </div>
            {% block page_pagination %}
              <div class="mt-4">
                {{ super() }}
                </div>
            {% endblock %}
            {% block package_search_results_api %}
              {{ super() }}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}