{% extends "page.html" %}

{% block content %}
<main id="content">
  <div class="bg-cultured">
    <ul class="nav nav-tabs nav-justified pt-5 bg-platinum" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="learn-tab nav-link active" id="faq-tab" data-bs-toggle="tab" data-bs-target="#faq-tab-content" type="button" role="tab" aria-controls="faq-tab-content" aria-selected="true">
          Preguntas frecuentes
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="learn-tab nav-link" id="user-manual-tab" data-bs-toggle="tab" data-bs-target="#user-manual-tab-content" type="button" role="tab" aria-controls="user-manual-tab-content">
          Manuales de usuario
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="learn-tab nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses-tab-content" type="button" role="tab" aria-controls="courses-tab-content">
          Cursos de capacitación
        </button>
      </li>
    </ul>
    <div class="tab-content py-6">
      <div class="tab-pane fade show active" id="faq-tab-content" role="tabpanel" aria-labelledby="faq-tab">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h1 class="text-blue-sapphire text-center fw-bold fs-1">
                Preguntas frecuentes
              </h1>
              <div class="d-grid gap-4 mt-5">
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    ¿Qué son los Datos Abiertos y por qué son importantes?
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    ¿Qué son los Datos Abiertos y por qué son importantes?
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    ¿Qué son los Datos Abiertos y por qué son importantes?
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
              </div>
              <nav class="mt-4" aria-label="Paginación de resultados">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold" aria-label="Página anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">1</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">2</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">3</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold" aria-label="Página siguiente">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="user-manual-tab-content" role="tabpanel" aria-labelledby="user-manual-tab">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h1 class="text-blue-sapphire text-center fw-bold fs-1">
                Manuales de usuario
              </h1>
              <div class="d-grid gap-4 mt-5">
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    ¿Cómo descargar datos?
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    ¿Cómo descargar datos?
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    ¿Cómo descargar datos?
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
              </div>
              <nav class="mt-4" aria-label="Paginación de resultados">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold" aria-label="Página anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">1</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">2</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">3</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold" aria-label="Página siguiente">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="courses-tab-content" role="tabpanel" aria-labelledby="courses-tab">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h1 class="text-blue-sapphire text-center fw-bold fs-1">
                Cursos de capacitación
              </h1>
              <div class="d-grid gap-4 mt-5">
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    Estructuración de datos
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    Estructuración de datos
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
                <div class="bg-white p-4">
                  <h2 class="text-blue-sapphire fs-4 fw-bold">
                    Estructuración de datos
                  </h2>
                  <p class="text-jungle-green mt-3">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet…
                  </p>
                  <p class="text-jungle-green mb-0">
                    <em>Última actualización <span class="fw-bold">18 de Abril de 2021</span></em>
                  </p>
                </div>
              </div>
              <nav class="mt-4" aria-label="Paginación de resultados">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold" aria-label="Página anterior">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">1</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">2</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold">3</a>
                  </li>
                  <li class="page-item">
                    <a href="#" class="page-link border-0 text-blue-sapphire fw-bold" aria-label="Página siguiente">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}