<footer>
  <div class="bg-blue-sapphire footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-section-top-col">
          <ul class="list-unstyled">
            <li>
              <a href="{{ h.url_for(controller='dataset', action='search') }}">
                Catálogo de Datos Abiertos
              </a>
            </li>
            <li>
              <a href="#">
                Blog / Noticias
              </a>
            </li>
            <li>
              <a href="{{ h.url_for('pdae_theme.learn') }}">
                Centro de aprendizaje
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 footer-section-top-col">
          <p class="fw-bold fs-18">Contáctanos</p>
          <ul class="list-inline">
            <li>
              <a href="#" aria-label="Visitar Twitter" target="_blank">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Visitar Facebook" target="_blank">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Abrir grupo de Telegram" target="_blank">
                <i class="bi bi-telegram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-5 footer-section-top-col">
          <ul class="list-unstyled">
            <li>Av. Patria y Av. 12 de Octubre Edificio Planifica Ecuador</li>
            <li>Código Postal: 170525/ Quito - Ecuador</li>
            <li>Teléfono: 593-2 3 97-8900</li>
            <li class="fw-bold">www.planificacion.gob.ec</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-eagle-green footer-section">
    <div class="container">
      <div class="footer-section-bottom-row">
        <img class="img-responsive center-block" src="/images/ecuador_lenin.svg" alt="" style="grid-area: d">
        <img class="img-responsive center-block" src="/images/footer-text.svg" alt="" style="grid-area: c;">
        <ul class="list-unstyled" style="grid-area: b;">
          <li>
            <p class="text-center">Financiado por:</p>
          </li>
          <li>
            <img class="img-responsive center-block" src="/images/cooperacion-alemana.svg" alt="">
          </li>
        </ul>
        <ul class="list-unstyled">
          <li>
            <p class="text-center">Desarrollado por:</p>
          </li>
          <li>
            <img class="img-responsive center-block" src="/images/datasketch.svg" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %}
  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>