{% ckan_extends %}

{% set is_home = c.controller == 'home' and c.action == 'index' %}
{% set is_dataset_search = c.controller == 'dataset' and c.action == 'search' %}
{% set is_user_login = c.controller == 'user' and c.action == 'login' %}
{% set menu_labels = h.get_menu_labels() %}

{% block header_wrapper %}
  {% if c.userobj %}
    {% block header_account %}
      <nav class="bg-blue-sapphire">
        <div class="container-fluid">
          {% block header_account_container_content %}
            <div data-module="me" data-me="{{ c.userobj.id }}">
              <ul class="list-unstyled overflow-x-auto d-flex text-white md:justify-content-end">
                {% if c.userobj.sysadmin %}
                  <li class="flex-shrink-0">
                    <a class="px-16 py-8 d-block text-decoration-none" href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                      <i class="bi bi-hammer" aria-hidden="true"></i>
                      <span class="text">{{ _('Admin') }}</span>
                    </a>
                  </li>
                {% endif %}
                <li class="flex-shrink-0">
                  <a class="px-16 py-8 d-block text-decoration-none" href="{{ h.url_for('user.read', id=c.userobj.name) }}" title="{{ _('View profile') }}">
                  {{ h.user_image((c.user if c and c.user else ''), size=22) }}
                    <span class="username">{{ c.userobj.display_name }}</span>
                  </a>
                </li>
                {% set new_activities = h.new_activities() %}
                <li class="flex-shrink-0">
                  {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                  <a class="px-16 py-8 d-block text-decoration-none" href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                    <i class="bi bi-speedometer2" aria-hidden="true"></i>
                    <span class="text">Dashboard</span>
                    <span class="badge {% if new_activities > 0 %}bg-sinopia{% endif %}">{{ new_activities }}</span>
                  </a>
                </li>
                {% block header_account_settings_link %}
                  <li class="flex-shrink-0">
                    <a class="px-16 py-8 d-block text-decoration-none" href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
                      <i class="bi bi-gear" aria-hidden="true"></i>
                      <span class="text">{{ _('Profile settings') }}</span>
                    </a>
                  </li>
                {% endblock %}
              </ul>
            </div>
          {% endblock %}
        </div>
      </nav>
    {% endblock %}
  {% endif %}
  <header>
    <nav class="bg-cultured" data-module="pdae_theme_navbar" data-module-trigger="navbar-switch" data-module-target="navbar-menu">
      <div class="container-fluid">
        <ul class="pdae-nav-xs list-unstyled mb-0">
          <li class="pdae-nav-item">
            <a href="{{ h.url_for('home.index') }}">
              <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="">
            </a>
          </li>
          <li class="pdae-nav-item">
            <button class="btn bg-cultured text-blue-sapphire fs-35 navbar-switch">
              <i class="bi bi-list"></i>
            </button>
          </li>
        </ul>
        <ul class="pdae-nav-md list-unstyled mb-0" id="navbar-menu">
          <li class="pdae-nav-item text-end visible-xs visible-sm">
            <button class="fs-22 btn btn-blue-sapphire navbar-switch">
              <i class="bi bi-x-lg"></i>
            </button>
          </li>
          <li class="pdae-nav-item hidden-xs hidden-sm">
            <a href="{{ h.url_for('home.index') }}">
              <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="">
            </a>
          </li>
          <li class="pdae-nav-item">
            <a href="{{ h.url_for('home.index') }}">
              Inicio
            </a>
          </li>
          <li class="pdae-nav-item">
            <a href="{{ h.url_for('dataset.search') }}">
              {{ menu_labels['dataset'] }}
            </a>
          </li>
          <li class="pdae-nav-item">
            <a href="/blog">
              {{ menu_labels['blog'] }}
            </a>
          </li>
          <li class="pdae-nav-item">
            <a href="/normativa">
              {{ menu_labels['regulations'] }}
            </a>
          </li>
          <li class="pdae-nav-item">
            <span href="#">
              {{ menu_labels['learn'] }}
            </span>
            <ul class="pdae-nav-submenu list-unstyled mb-0">
              <li class="hidden-xs hidden-sm">
                <span>{{ menu_labels['learn'] }}</span>
              </li>
              <li>
                <a href="/centro-de-aprendizaje/preguntas-frecuentes">
                  {{ menu_labels['faq'] }}
                </a>
              </li>
              <li>
                <a href="/centro-de-aprendizaje/manuales">
                  {{ menu_labels['manuals'] }}
                </a>
              </li>
              <li>
                <a href="/centro-de-aprendizaje/cursos">
                  {{ menu_labels['courses'] }}
                </a>
              </li>
            </ul>
          </li>
          <li class="pdae-nav-item">
            <a href="#">
              {{ menu_labels['participation'] }}
            </a>
          </li>
          {% if c.userobj %}
            <li class="pdae-nav-item">
              <a href="{{ h.url_for('/user/_logout') }}" class="btn pdae-nav-login">
                Cerrar sesión
              </a>
            </li>
          {% else %}
            <li class="pdae-nav-item">
              <a href="{{ h.url_for('user.login') }}" class="btn pdae-nav-login fw-light"}>
                Iniciar sesión
              </a>
            </li>
          {% endif %}
        </ul>
        <div class="pdae-nav-overlay"></div>
      </div>
    </nav>
    <div class="flag"></div>
    {% set announce = h.get_announce() %}
    {% if announce %}
      <div class="announce">
        <i class="bi bi-exclamation-triangle"></i>
        <div class="announce-content">
          {{ h.render_markdown(announce) }}
        </div>
      </div>
    {% endif %}
  </header>
{% endblock %}
