@font-face {
  font-family: 'Museo Sans';
  src: url(/fonts/MuseoSans-300.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Museo Sans';
  src: url(/fonts/MuseoSans_700.otf);
  font-weight: 700;
}

/*
/ =========
/ Overrides
/ =========
*/

body {
  font-family: 'Museo Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #fbf9f8;
}

a,
a:hover {
  color: inherit;
}

.alert {
  border-radius: 0;
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
  font-size: 16px;
}

.btn-lg {
  padding-left: 48px;
  padding-right: 48px;
}

.btn-lg {
  font-size: 16px;
}

.main {
  background: none !important;
}

.pagination li a {
  background-color: transparent;
  border: 0;
  color: #0f5a6b;
  display: block;
  font-weight: 700;
  padding: 6px 12px;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-radius: 0;
}

.pagination li a:hover {
  background-color: #e9ecef;
  color: #0a58ca;
  z-index: 2;
}

.pagination li.active a {
  background-color: #ce370f;
  color: #ffffff;
  z-index: 3;
}

.pagination li:not(:first-child) a {
    margin-left: -1px;
}

.panel-group .panel + .panel {
  margin-top: 12px;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-title > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  text-decoration: none;
}

.panel-title > a::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nI2ZmZmZmZic+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Jy8+PC9zdmc+);
  content: '';
  height: 16px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 16px;
}

.panel-title > a.collapsed::after {
  transform: translateY(-50%);
}

.swiper-slide {
  height: auto !important;
}

@media screen and (min-width: 992px) {
  .btn-lg {
    font-size: 18px;
  }
}

/*
/ =========
/ Utilities
/ =========
*/

.align-items-center {
  align-items: center;
}

.bg-blue-sapphire {
  background-color:#0f5a6b;
}

.bg-cultured {
  background-color: #fbf9f8;
}

.bg-eagle-green {
  background-color: #0a3f4c;
}

.bg-sinopia {
  background-color: #ce370f;
}

.border-0 {
  border: 0 !important;
}

.btn-blue-sapphire,
.btn-blue-sapphire:hover {
  background-color: #0f5a6b;
  color: #ffffff;
}

.btn-light,
.btn-light:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-sinopia,
.btn-sinopia:hover {
  background-color: #ce370f;
  color: #ffffff;
}

.btn-sinopia-i,
.btn-sinopia-i:hover {
  background-color: #ffffff;
  color: #ce370f;
}

.btn-teal-blue,
.btn-teal-blue:hover {
  background-color: #1D6D7F;
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-grid {
  display: grid;
}

.flag {
  height: 10px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzY2IiBoZWlnaHQ9IjEwIj48cGF0aCBmaWxsPSIjZmY5YTIyIiBkPSJNMCAwaDY4M3YxMEgweiIvPjxwYXRoIGZpbGw9IiMxZDZkN2YiIGQ9Ik02ODMgMGgzNDF2MTBINjgzeiIvPjxwYXRoIGZpbGw9IiNlMjQzMjkiIGQ9Ik0xMDI0IDBoMzQydjEwaC0zNDJ6Ii8+PC9zdmc+);
  background-size: cover;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 18px;
}

.fs-35 {
  font-size: 30px;
}

.fs-45 {
  font-size: 35px;
}

.fs-52 {
  font-size: 38px;
}

.fw-bold {
  font-weight: 700;
}

.fw-light {
  font-weight: 300;
}

.gap-16 {
  gap: 16px;
}

.h-full {
  height: 100%;
}

.has-bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.leading-normal {
  line-height: 1.5;
}

.leading-tight {
  line-height: 1.25;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-0 {
  margin-top: 0;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-128 {
  margin-top: 128px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-24 {
  padding: 24px;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-32 {
  padding-top: 32px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.py-8 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.py-16 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-lg {
  padding-top: 64px;
  padding-bottom: 64px;
}

.text-blue-sapphire {
  color: #0f5a6b;
}

.text-decoration-none,
.text-decoration-none:hover {
  text-decoration: none;
}

.text-end {
  text-align: right;
}

.text-jungle-green {
  color: #102223;
}

.text-sinopia {
  color: #ce370f;
}

.text-underline {
  text-decoration: underline;
}

.text-white {
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .fs-22 {
    font-size: 22px;
  }
  
  .fs-35 {
    font-size: 35px;
  }

  .fs-45 {
    font-size: 45px;
  }
  
  .fs-52 {
    font-size: 52px;
  }

  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:justify-content-end {
    justify-content: flex-end;
  }
}

/*
/ =========
/ Components
/ =========
*/

.announce {
  align-items: flex-start;
  background-color: #0f5a6b;
  color: #ffffff;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
}

.announce-content {
  margin-left: 8px;
}

.announce-content * {
  margin-bottom: 0;
  margin-top: 12px;
}

.announce-content > * {
  margin-top: 0;
}

.announce-content a {
  font-weight: bold;
  text-decoration: underline;
}

.dataset-search-input-container {
  display: flex;
}

.dataset-search-input-control {
  background-color: #ffffff;
  border: 0;
  width: 100%;
  padding: 12px;
}

.dataset-search-input-submit {
  background-color: #ce370f;
  border: 0;
  color: #ffffff;
  flex-shrink: 0;
  padding: 0 16px;
  text-align: center;
}

.footer-section {
  color: #ffffff;
  padding-bottom: 32px;
  padding-top: 32px;
}

.footer-section-top-col {
  margin-bottom: 32px;
  text-align: center;
}

.footer-section-top-col:last-child {
  margin-bottom: 0;
}

.footer-section-bottom-row {
  align-items: start;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  grid-template-areas: "d" "c" "b" "a";
}

.learn-resources .nav-tabs.nav-justified > li > a {
  background-color: #0f5a6b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.learn-resources .nav-tabs > li.active > a {
  background-color: #fbf9f8;
  color: #0f5a6b;
}

.learn-resources .nav-tabs.nav-justified > li.active > a,
.learn-resources .nav-tabs.nav-justified > li > a {
  border-bottom-color: transparent;
}

.login-form .form-control {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  color: #0f5a6b;
  font-size: 18px;
}

.mock-checkbox {
  background-color: #0F5A6B1A;
  height: 16px;
  position: relative;
  width: 16px;
}

.mock-checkbox.checked {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4wNCIgaGVpZ2h0PSIxNC42NDQiPjxwYXRoIGQ9Ik0yLjgxOSA4LjYxNGwzLjY5NCAzLjEzM0wxMy4yMzkgMi44IiBmaWxsPSJub25lIiBzdHJva2U9IiMwZjVhNmIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mock-checkbox.checked + span {
  font-weight: 700;
}

.pdae-navbar {
  list-style-type: none;
  margin-bottom: 0;
}

.pdae-navbar-md {
  display: none;
  padding: 24px;
}

.pdae-navbar-md.navbar-open {
  background-color: #0f5a6b;
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.pdae-nav-overlay {
  display: none;
}

.pdae-navbar-md.navbar-open + .pdae-nav-overlay {
  position: fixed;
  background-color: #102223;
  opacity: 0.85;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
}

.pdae-navbar-xs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.pdae-nav-item {
  padding: 5px 0;
  color: #ffffff;
}

.pdae-nav-item.active {
  color: #ffffff;
  font-weight: 700;
}

.pdae-nav-item a {
  padding: 8px;
  display: block;
}

.pdae-nav-item a:hover {
  text-decoration: none;
}

.slider-wrapper {
  padding: 0 48px;
  position: relative;
}

.slider-prev,
.slider-next {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC4zNzciIGhlaWdodD0iMzMuMTE4Ij48cGF0aCBkPSJNNS41MzEgMzMuMTE4bC01LjUzLTQuMjkxIDkuNTE4LTEyLjI2OEwuMDAxIDQuMjkgNS41MzItLjAwMWwxMi44NDYgMTYuNTZ6IiBmaWxsPSIjMGY1YTZiIi8+PC9zdmc+");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
}

.slider-prev.swiper-button-disabled,
.slider-next.swiper-button-disabled {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC4zNzciIGhlaWdodD0iMzMuMTE4Ij48cGF0aCBkPSJNNS41MzEgMzMuMTE4bC01LjUzLTQuMjkxIDkuNTE4LTEyLjI2OEwuMDAxIDQuMjkgNS41MzItLjAwMWwxMi44NDYgMTYuNTZ6IiBmaWxsPSIjMGY1YTZiIiBmaWxsLW9wYWNpdHk9IjAuMyIvPjwvc3ZnPg==");
  cursor: not-allowed;
}

.slider-prev {
  left: 12px;
  transform: translateY(-50%) rotate(180deg);
}

.slider-next {
  right: 12px;
}

@media screen and (min-width: 992px) {
  .footer-section-top-col {
    margin-bottom: 0;
    text-align: left;
  }
  
  .footer-section-bottom-row {
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a b c d";
  }
  
  .pdae-nav-item {
    color: #0f5a6b;
    text-align: center;
    padding: 0;
  }

  .pdae-nav-item.active {
    color: #ce370f;
  }
  
  .pdae-navbar-xs {
    display: none;
  }
  
  .pdae-navbar-md,
  .pdae-navbar-md.navbar-open {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fbf9f8;
    position: static;
    padding: 12px;
  }

  .pdae-nav-overlay,
  .pdae-navbar-md.navbar-open + .pdae-nav-overlay {
    display: none;
  }

  .slider-wrapper {
    padding: 0 64px;
  }

  .slider-prev {
    left: 16px;
  }
  
  .slider-next {
    right: 16px;
  }
}
