@font-face {
  font-family: 'Museo Sans';
  src: url(/fonts/MuseoSans-300.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Museo Sans';
  src: url(/fonts/MuseoSans_700.otf);
  font-weight: 700;
}

:root {
  --blue-sapphire: #0f5a6b;
  --cultured: #fbf9f8;
  --eagle-green: #0a3f4c;
  --jungle-green: #102223;
  --nickel: #697072;
  --sinopia: #ce370f;
  --sonic-silver: #707070;
  --space-cadet: #20295C;
  --teal-blue: #1d6d7f;
}

/*
/ =========
/ Overrides
/ =========
*/

body {
  font-family: 'Museo Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: var(--cultured);
}

a,
a:hover {
  color: inherit;
}

.alert {
  border-radius: 0;
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
  font-size: 16px;
}

.btn-lg {
  padding-left: 48px;
  padding-right: 48px;
}

.btn-lg {
  font-size: 16px;
}

.main {
  background: none !important;
}

.pagination li a {
  background-color: transparent;
  border: 0;
  color: var(--blue-sapphire);
  display: block;
  font-weight: 700;
  padding: 6px 12px;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-radius: 0;
}

.pagination li a:hover {
  background-color: #e9ecef;
  color: #0a58ca;
  z-index: 2;
}

.pagination li.active a {
  background-color: var(--sinopia);
  color: white;
  z-index: 3;
}

.pagination li:not(:first-child) a {
    margin-left: -1px;
}

.panel-group .panel + .panel {
  margin-top: 12px;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-title > a {
  color: white;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  text-decoration: none;
}

.panel-title > a::after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nI2ZmZmZmZic+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBkPSdNMS42NDYgNC42NDZhLjUuNSAwIDAgMSAuNzA4IDBMOCAxMC4yOTNsNS42NDYtNS42NDdhLjUuNSAwIDAgMSAuNzA4LjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOCAwbC02LTZhLjUuNSAwIDAgMSAwLS43MDh6Jy8+PC9zdmc+);
  content: '';
  height: 16px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 16px;
}

.panel-title > a.collapsed::after {
  transform: translateY(-50%);
}

.swiper-slide {
  height: auto !important;
}

@media screen and (min-width: 992px) {
  .btn-lg {
    font-size: 18px;
  }
}

/*
/ =========
/ Utilities
/ =========
*/

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.bg-blue-sapphire {
  background-color: var(--blue-sapphire);
}

.bg-cultured {
  background-color: var(--cultured);
}

.bg-eagle-green {
  background-color: var(--eagle-green);
}

.bg-sinopia {
  background-color: var(--sinopia);
}

.bg-space-cadet {
  background-color: var(--space-cadet);
}

.bg-teal-blue {
  background-color: var(--teal-blue);
}

.bg-transparent {
  background-color: transparent;
}

.border-0 {
  border: 0 !important;
}

.btn-blue-sapphire,
.btn-blue-sapphire:hover {
  background-color: var(--blue-sapphire);
  color: white;
}

.btn-blue-sapphire-i,
.btn-blue-sapphire-i:hover {
  background-color: white;
  color: var(--blue-sapphire);
}

.btn-light,
.btn-light:hover {
  border: 1px solid white;
  color: white;
}

.btn-sinopia,
.btn-sinopia:hover,
.btn-sinopia:focus {
  background-color: var(--sinopia);
  color: white;
}

.btn-sinopia-i,
.btn-sinopia-i:hover {
  background-color: white;
  color: var(--sinopia);
}

.btn-teal-blue,
.btn-teal-blue:hover {
  background-color: var(--teal-blue);
  color: white;
}

.bg-white {
  background-color: white;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-grid {
  display: grid;
}

.flag {
  height: 8px;
  background-image: linear-gradient(to right, #FFCB00 50%, #005AA6 50% 75%, #E1231D 75%);
  background-size: cover;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 18px;
}

.fs-35 {
  font-size: 30px;
}

.fs-45 {
  font-size: 35px;
}

.fs-52 {
  font-size: 38px;
}

.fw-bold {
  font-weight: 700;
}

.fw-light {
  font-weight: 300;
}

.gap-16 {
  gap: 16px;
}

.h-full {
  height: 100%;
}

.has-bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.leading-normal {
  line-height: 1.5;
}

.leading-tight {
  line-height: 1.25;
}

.leading-none {
  line-height: 1;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-128 {
  margin-top: 128px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p-16 {
  padding: 16px;
}

.p-20 {
  padding: 20px;
}

.p-24 {
  padding: 24px;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-32 {
  padding-top: 32px;
}

.pt-64 {
  padding-top: 64px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.py-8 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.py-16 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.section-lg {
  padding-top: 64px;
  padding-bottom: 64px;
}

.text-blue-sapphire {
  color: var(--blue-sapphire);
}

.text-break {
  word-wrap: break-word;
  word-break: break-word;
}

.text-decoration-none,
.text-decoration-none:hover {
  text-decoration: none;
}

.text-end {
  text-align: right;
}

.text-jungle-green {
  color: var(--jungle-green);
}

.text-nickle {
  color: var(--nickel);
}

.text-sinopia {
  color: var(--sinopia);
}

.text-underline {
  text-decoration: underline;
}

.text-white {
  color: white;
}

@media screen and (min-width: 992px) {
  .fs-22 {
    font-size: 22px;
  }
  
  .fs-35 {
    font-size: 35px;
  }

  .fs-45 {
    font-size: 45px;
  }
  
  .fs-52 {
    font-size: 52px;
  }

  .md\:mt-0 {
    margin-top: 0;
  }

  .md\:mt-32 {
    margin-top: 32px;
  }

  .md\:justify-content-end {
    justify-content: flex-end;
  }

  .md\:text-end {
    text-align: right;
  }

  .md\:text-start {
    text-align: left;
  }
}

/*
/ =========
/ Components
/ =========
*/

.announce {
  align-items: flex-start;
  background-color: var(--eagle-green);
  color: white;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
}

.announce-content {
  margin-left: 8px;
}

.announce-content * {
  margin-bottom: 0;
  margin-top: 12px;
}

.announce-content > * {
  margin-top: 0;
}

.announce-content a {
  font-weight: bold;
  text-decoration: underline;
}

#data-access-banner {
  background-image: url("/images/data-access-mobile.jpg");
}

.dataset-search-input-container {
  display: flex;
}

.dataset-search-input-control {
  background-color: white;
  border: 0;
  width: 100%;
  padding: 12px;
  color: var(--blue-sapphire);
}

.dataset-search-input-submit {
  background-color: var(--sinopia);
  border: 0;
  color: white;
  flex-shrink: 0;
  padding: 0 16px;
  text-align: center;
}

.footer-section {
  color: white;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
}

.footer-section-col {
  margin-bottom: 32px;
  text-align: center;
}

.footer-section-col:last-child {
  margin-bottom: 0;
}

.featured-banner {
  background-image: url("/images/bg-featured-mobile.jpg")
}

.home-list-item {
  overflow: auto;
}

#home-main-banner {
  background-image: url("/images/bg-home-mobile.svg");
  background-position: center;
  background-size: cover;
}

.home-topics {
  background-image: url("/images/bg-topics-mobile.jpg");
}

.home-entities {
  background-image: url("/images/bg-entities-mobile.jpg");
}

.learn-resources .nav-tabs.nav-justified > li > a {
  background-color: var(--blue-sapphire);
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.learn-resources .nav-tabs > li.active > a {
  background-color: var(--cultured);
  color: var(--blue-sapphire);
}

.learn-resources .nav-tabs.nav-justified > li.active > a,
.learn-resources .nav-tabs.nav-justified > li > a {
  border-bottom-color: transparent;
}

.login-form .form-control {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  color: var(--blue-sapphire);
  font-size: 18px;
}

.mock-checkbox {
  background-color: #0F5A6B1A;
  flex-shrink: 0;
  height: 16px;
  position: relative;
  width: 16px;
}

.mock-checkbox.checked {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi4wNCIgaGVpZ2h0PSIxNC42NDQiPjxwYXRoIGQ9Ik0yLjgxOSA4LjYxNGwzLjY5NCAzLjEzM0wxMy4yMzkgMi44IiBmaWxsPSJub25lIiBzdHJva2U9IiMwZjVhNmIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mock-checkbox.checked + span {
  font-weight: 700;
}

.pdae-groups-banner {
  background-image: url("/images/groups-banner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pdae-groups-list {
  display: inline-flex;
  flex-wrap: wrap;
  color: white;
  margin: -16px 0 0 -16px;
  width: calc(100% + 16px);
  justify-content: center;
}

.pdae-group-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 16px 0 0 16px;
  width: calc(100% / 4);
}

.pdae-group-list-item:hover {
  text-decoration: none;
}

.pdae-resource-format {
  background-color: var(--sinopia);
  color: white;
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.pdae-navbar {
  list-style-type: none;
  margin-bottom: 0;
}

.pdae-navbar-md {
  display: none;
  padding: 24px;
}

.pdae-navbar-md.navbar-open {
  background-color: var(--blue-sapphire);
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.pdae-nav-overlay {
  display: none;
}

.pdae-navbar-md.navbar-open + .pdae-nav-overlay {
  position: fixed;
  background-color: var(--jungle-green);
  opacity: 0.85;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
}

.pdae-navbar-xs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.pdae-nav-item {
  padding: 5px 0;
  color: white;
}

.pdae-nav-item.active {
  color: white;
  font-weight: 700;
}

.pdae-nav-item a {
  padding: 8px;
  display: block;
}

.pdae-nav-item a:hover {
  text-decoration: none;
}

.pdae-package-item {
  background: white;
  display: block;
  padding: 24px;
  box-shadow: 0px 0px 3px #00000029;
  transition: box-shadow 0.25s;
}

.pdae-package-item:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  text-decoration: none;
}

.pdae-resource-item {
  box-shadow: 0px 0px 3px #00000029;
  margin-bottom: 16px;
  padding: 16px;
  display: block;
}

.pdae-resource-item:hover {
  background-color: var(--cultured);
  text-decoration: none;
}

.pdae-formats-label {
  color: var(--nickel);
  font-style: italic;
}

.pdae-tag {
  padding: 4px 8px;
  font-size: 14px;
  color: var(--nickel);
  border: 1px solid var(--sonic-silver);
}

.pdae-tag-sm {
  font-size: 12px;
}

.pdae-explore-tag-container {
  overflow: auto;
  padding: 10px;
  display: inline-block;
}

.pdae-explore-tag {
  border: 1px solid white;
  color: white;
  font-size: 16px;
  padding: 6px 12px; 
  white-space: nowrap;
}

.pdae-explore-tag:hover {
  text-decoration: none;
}

.pdae-explore-tag-blue-sapphire:hover {
  background-color: white;
  color: var(--blue-sapphire);
}

.pdae-explore-tag-sinopia:hover {
  background-color: white;
  color: var(--sinopia);
}

.slider-wrapper {
  padding: 0 24px;
  position: relative;
}

.slider-prev,
.slider-next {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC4zNzciIGhlaWdodD0iMzMuMTE4Ij48cGF0aCBkPSJNNS41MzEgMzMuMTE4bC01LjUzLTQuMjkxIDkuNTE4LTEyLjI2OEwuMDAxIDQuMjkgNS41MzItLjAwMWwxMi44NDYgMTYuNTZ6IiBmaWxsPSIjMGY1YTZiIi8+PC9zdmc+");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
}

.slider-prev.swiper-button-disabled,
.slider-next.swiper-button-disabled {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC4zNzciIGhlaWdodD0iMzMuMTE4Ij48cGF0aCBkPSJNNS41MzEgMzMuMTE4bC01LjUzLTQuMjkxIDkuNTE4LTEyLjI2OEwuMDAxIDQuMjkgNS41MzItLjAwMWwxMi44NDYgMTYuNTZ6IiBmaWxsPSIjMGY1YTZiIiBmaWxsLW9wYWNpdHk9IjAuMyIvPjwvc3ZnPg==");
  cursor: not-allowed;
}

.slider-prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.slider-next {
  right: 0;
}

@media screen and (min-width: 768px) {
  .pdae-group-list-item {
    width: calc(100% / 6);
  }
}

@media screen and (min-width: 992px) {
  #data-access-banner {
    background-image: url("/images/data-access.jpg");
  }
  
  #home-main-banner {
    background-image: url("/images/bg-home.svg");
  }
  
  .home-entities {
    background-image: url("/images/bg-entities.jpg");
  }

  .home-topics,
  .featured-banner {
    background-image: url("/images/bg-topics.jpg");
  }
  
  .footer-section-col {
    margin-bottom: 0;
    text-align: left;
  }

  .pdae-group-list-item {
    width: calc(100% / 7);
  }
  
  .pdae-nav-item {
    color: var(--blue-sapphire);
    text-align: center;
    padding: 0;
  }

  .pdae-nav-item.active {
    color: var(--sinopia);
  }
  
  .pdae-navbar-xs {
    display: none;
  }
  
  .pdae-navbar-md,
  .pdae-navbar-md.navbar-open {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--cultured);
    position: static;
    padding: 12px;
  }

  .pdae-nav-overlay,
  .pdae-navbar-md.navbar-open + .pdae-nav-overlay {
    display: none;
  }

  .slider-wrapper {
    padding: 0 36px;
  }

  .slider-prev,
  .slider-next {
    width: 18px
  }
}
