{% set current_url = h.full_current_url() %}
<ul class="fs-5 list-inline mb-0 text-blue-sapphire">
  <li class="list-inline-item">
    <a href="https://twitter.com/share?url={{ current_url }}" aria-label="Compartir en Twitter" target="_blank">
      <i class="bi bi-twitter"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" aria-label="Compartir en Facebook" target="_blank">
      <i class="bi bi-facebook"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ current_url }}" aria-label="Compartir en Linkedin" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
  </li>
</ul>